/* ------------------------- 
KristinaCat Creations: Pup Pizza
January 12, 2017
Author: Kristina Hennessey 
----------------------------*/

 

body
{ 
   color: #fff; 
   background: #DEDE8D;
   font-family: “Trebuchet MS”, Verdana, Arial, Helvetica, sans-serif;
   font-size: 1em; 
}

#wrapper 
{ 
   margin: 0 auto;
   width: 960px; 
   text-align: left; 
   color: #161202; 
   background: #fff;
} 

/*------------------------------LINK FORMATTING-----------------------------*/ 

 
a:link
{ 
   color: #161202; 
}

a:visited
{ 
   color: #161202;
}

a:hover
{ 
   color: #b11c17; 
}

a:active
{ 
   color: #161202; 
}

/*------------------------------BANNER FORMATTING---------------------------*/ 


#header 
{ 
   color: #FFF432; 
   background: #b11c17; 
   padding: 10px;
   margin: 0 auto;
   height: 10%;
   border: 6px outset #7C0200; 
}

#header h1 
{ 
   text-align: center; 
   font-family: "times new roman", Georgia, Helvetica, serif;
   font-size: 3.3em;
   margin: 10px;
   font-style: italic;
}

.floatL 
{
  float: left;
  padding: 0 10px;
  border: 0;
}

.floatR 
{
  float: right; 
  padding: 0 10px;
  border: 0;
}

.slogan
{
   font-family: Georgia, times, geneva, serif;
   font-size: .5em;
}

/*------------------------------NAV BAR FORMATTING---------------------------*/ 

 

#navcontainer 
{
   margin: 0 auto; 
   color: #161202;
   background-color: #F9BF0E;
   padding: 5px 0;
} 


#navcontainer p 
{ 
   margin: 0 auto; 
   padding: 4px; 
   text-align: center;
} 


#navcontainer p a 
{ 
   padding: 4px 10px; 
   color: #000; 
   background-color: #F9BF0E; 
   font-size: 1em;
}

#navcontainer p a:hover 
{ 
   color: #000; 
   text-decoration: none;
   border: 2px inset #FFF432;  
}

#navcontainer p a#current 
{ 
   color: #000;
   text-decoration: none; 
   padding: 3px 6px; 
   border: 2px inset #FFF432; 
}

/*------------------------------CONTENT FORMATTING---------------------------*/ 

#content p 
{
   color: #161202;
   padding: 10px;
   margin: 10px;
   line-height: 125%;
}

#content h1
{
   text-align: left;
   font-size: 1.1em;
   margin: 8px;
   padding: 8px;
}

#content h2 
{

   text-align: left;
   font-size: .9em;
   margin: 8px;
   padding: 1px;
}

fieldset
{
   border: 1px ridge #BCA678;
   width: 47%;
   height: auto;
   padding: 5px;
   margin: 6px;
}

legend
{
   font-size: 1em;
   color: #161202;
}

.floatleft 
{
   height: auto;
   float: left; 
   margin: 6px;
   padding: 5px;
}

.fieldleft
{
   width: 22%;
   float: left; 
   height: auto;
   padding: 5px;
   margin: 6px;
}

textarea:focus, input:focus
{
   border: 2px ridge #161202;
}

.required
{
   color: #C40303;
   font-size: .9em;
   font-style: italic;
}

.note
{ 
   font-size: .9em;
   font-style: italic;
}

p.button
{
   text-align: center;
   clear: both;
}

label
{ 
  display: block; 
}

textarea
{ 
  width: 405px; 
  height: 40px; 
}

.impact
{
   color: #C40303;
   font-size: 1.2em;
   font-family: Georgia, "Times New Roman", Times, serif;
}

/*------------------------------FOOTER STYLE----------------------------*/ 


#footer 
{
   font-family: Georgia, "Times New Roman", Times, serif;
   color: #000;
   background: #F9BF0E;
   font-size: 1em;
   margin: 0 auto;
   text-align: center;
   padding: 5px; 
   height: 1%;
}