/* ------------------------- 
KristinaCat Creations: Kleo Cooks
January 12, 2017
Author: Kristina Hennessey 
----------------------------*/

 

body
{ 
   color: #fff; 
   background: #C4D285;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 1em; 
}

#wrapper 
{ 
   margin: 0 auto;
   width: 960px; 
   text-align: left; 
   color: #161202; 
   background: #fff;
} 

/*------------------------------LINK FORMATTING-----------------------------*/ 

 
a:link
{ 
   color: #B9ED82;   
}

a:visited
{ 
   color: #67CC00;
}

a:hover
{ 
   color: #67CC00; 
}

a:active
{ 
   color: #B9ED82;
}

/*------------------------------BANNER FORMATTING---------------------------*/ 


#header 
{ 
   color: #161202; 
   background: #67CC00; 
   padding: 5px 30px 40px;
   margin: 0 auto;
   height: 20%;
   border: 3px outset #5FB701;
}

#header h1 
{ 
   text-align: center; 
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 3.5em;
   padding: 15px 0px 0px 0px;
   margin: 0 auto;
   font-style: italic;
}

.floatL 
{
  float: left;
  padding: 5px;
  border: 0;
}

.floatR 
{
  float: right; 
  padding: 5px;
  border: 0;
}



/*------------------------------NAV BAR FORMATTING---------------------------*/ 

 

#navcontainer 
{
   margin: 0 auto; 
   color: #B9ED82;
   background-color: #67CC00;
   padding: 5px 15px; 
   border: 3px outset #5FB701;
} 


#navcontainer p 
{ 
   margin: 0 auto; 
   padding: 4px; 
   text-align: center;
} 


#navcontainer p a 
{ 
   padding: 5px 15px; 
   color: #161202; 
   background-color: transparent; 
   font-size: 1em;
   text-decoration: none;
}

#navcontainer p a:hover 
{
   color: #161202;
   background-color: #B9ED82;    
   text-decoration: none;
   padding: 5px 13px; 
   border: 2px inset #5FB701; 
  
}

#navcontainer p a#current 
{ 
   text-decoration: none; 
   padding: 3px 6px; 
   border: 2px inset #5FB701;
}

/*------------------------------CONTENT FORMATTING---------------------------*/ 

#content p 
{
   color: #161202;
   padding: 10px;
   margin: 20px;
   line-height: 125%;
}

#content h1
{
   text-align: left;
   font-size: 1.2em;
   margin: 20px;
   padding: 2px;
}

#content h2 
{
   text-align: center;
   font-size: 1em;
   margin: 25px 0px;

}

#content h3 
{
   text-align: left;
   font-size: 1em;
   margin: 25px 40px;
}

hr
{
   color: #B9ED82;
   background-color: #fff;
   height: .5px;
   width: 80%;
}

li
{
   margin-bottom: .6em;
   margin-left: 4em;
}

ol
{
   list-style-type: decimal;
}

ul
{
   list-style-type: circle;
}

.floatleft 
{
   height: auto;
   float: left; 
   margin: 0px 20px 25px 2px;
   padding: 1px;
}

.quote
{
   font-style: italic;
   font-size: .9em;
}

.note
{
   font-size: .9em;
}

/*------------------------------FOOTER STYLE----------------------------*/ 


#footer 
{
   font-family: Georgia, "Times New Roman", Times, serif;
   color: #B9ED82; 
   background: #161202;
   font-size: 1em;
   margin: 0 auto;
   text-align: center;
   padding: 5px; 
   height: 1%;
   border: 3px outset #0C0A02;
}