/* -----------------------------------------
KristinaCat Web Designer Portfolio
3-20-17
Kristina Hennessey
------------------------------------------- */

html, body
{
	margin: 0;
	padding: 0;
	color: #000;
	background: #B7B7B7;
	text-align: center;
	font-family: "trebuchet MS", verdana, sans-serif;
	font-size: 1em;
	line-height: 120%;
}

div.wrapper
{
	width: 980px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background: #5C7272;
}

/*--------------------------------------------- BANNER FORMATTING --------------------------------------------- */

div.header
{
	background: #1B1B26 url(portfoliohead.jpg) no-repeat center;
	height: 250px; 
	float: left;
	width: 980px;
	color: #fff;
	margin: 0;
}

/*----------------------------------- NAVIGATION FORMATTING ----------------------------------- */

div.nav
{
	float: left;
	width: 980px;
	background: #0F343D;
	color: #fff;

	border-bottom: 1px ridge #0D3329;
}

ul#menu
{
	float: left;
	margin: 0 15px;
	padding: 10px 230px;
	background: #0F343D;
	color: #DEEBEF;
	line-height: 100%;
}

ul#menu li
{ 
	float: left;
	position: relative;
	list-style: none;
}

/*------------------------- TOP LEVEL LINK------------------------------ */

ul#menu a
{
	color: #DEEBEF;
	background: #115256;
	text-decoration: none;
	display: block;
	padding: 4px 25px;
	border: 1px outset #10797C;
}

/*---------------------- MAIN LEVEL LINK HOVER ------------------------ */

ul#menu a.current, ul#menu li:hover > a
{
	color: #081B23;
	background: #459E90;
}

/*--------------------------- DROPDOWN ------------------------------- */

ul#menu li:hover > ul
{
	display: block; 
	box-shadow: 5px 5px 10px #0D2028;
	filter: dropshadow(color=#0D2028, offx=1, offy=1);     
	background: #0F343D;
}

/*----------------------- SUB LEVEL LIST ----------------------------- */

ul#menu ul
{
	display: none;
	margin: 0;
	padding: 0;
	width: 180px;
	position: absolute;
	top: 27px;
	left: 0;
	background: #115256;
	border: 1px inset #10797C;
}

ul#menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
}

ul#menu ul a
{
	font-weight: normal;
	background: #115256;
	color: #DEEBEF;
}

ul#menu ul li a:hover
{
	color: #08323F;
	background: #188282;
}

/*---------------------------------------- GENERAL LINK FORMATTING ---------------------------------------------- */

a:link
{
	color: #889193;
	background: transparent;
	
}

a:visited
{
	color: #D6FFE7;
	background: transparent;
}

a:hover
{
	color: #0484A0;
	background: transparent;
	text-decoration: none;
}

a:active
{
	color: #D6FFE7;
	background: transparent;
}

/*------------------------------------------------ ASIDE FORMATTING --------------------------------------------- */

div.aside
{
	float: left;
	width: 190px;
	background: #5C7272;
	font-size: .9em;
	color: #050D0F;
	text-align: center;
}

div.aside h3
{
	text-align: center;
	font-style: normal;
	color: #0E2D35;
	text-shadow: 1px 1px 1px #D6F9F5;
	filter: dropshadow(color=#2B0D11, offx=1, offy=1);  
	font-family: georgia, "Book Antiqua", serif;
	font-size: 1.4em;
	padding: 5px 0;
	line-height: 120%;
}

.yellow
{
	color: #E2E8A7;
	font-family: "times new roman", serif;
	font-size: 1.9em;
}

.red
{
	color: #FC7E7E;
	font-family: papyrus, cursive, serif;
	font-size: 1.7em;
}

.blue
{
	color: #C0BAFC;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.3em;
}


.orange
{
	color: #F2C99D;
	font-family: "trebuchet MS", verdana, sans-serif;
	font-size: 1.1em;
}


.purple
{
	color: #D5A2F9;
	font-family: papyrus, cursive, serif;
	font-size: 1.7em;
}


.green
{
	color: #BEFFB7;
	font-family: "trebuchet MS", verdana, sans-serif;
	font-size: 1.4em;
}

.pink
{
	color: #F7CAEF;
	font-family: "times new roman", serif;
	font-size: 1.2em;
}

.white
{
	color: #FFFFFF;
	font-family: "trebuchet MS", verdana, sans-serif;
	font-size: 1.3em;
}

/*--------------------------------------------- SECTION FORMATTING ----------------------------------------------- */

div.section
{ 
	float: right;
	width: 760px;
	background: #768480;
	padding: 10px;
}

div.section h1
{
	text-align: center;
	font-style: normal;
	color: #092B35;
	text-shadow: 1px 1px 1px #D6F9F5;
	filter: dropshadow(color=#2B0D11, offx=1, offy=1);  
	font-family: georgia, "Book Antiqua", serif;
	font-size: 2.2em;
	padding: 10px 50px 0 50px;
	line-height: 120%;
}

div.section h2
{
	text-align: center;
	font-style: normal;
	color: #052F35;
	text-shadow: 1px 1px 1px #D6F9F5;
	filter: dropshadow(color=#2B0D11, offx=1, offy=1);  
	font-family: georgia, "Book Antiqua", serif;
	font-size: 1.4em;
	padding: 5px 60px;
	line-height: 120%;
}

div.section p
{
	color: #110B16;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.1em;
	padding: 0 30px;
	line-height: 120%;
}


/*---------------------------------------------- FOOTER FORMATTING ---------------------------------------------- */

div.footer 
{
	clear: both;
	background: #0F343D;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	font-family: georgia, "Book Antiqua", serif;
	font-size: .9em;
}
