/* -----------------------------------------
KristinaCat Web Designer Portfolio
3-20-17
Kristina Hennessey
------------------------------------------- */

html, body
{
	margin: 0;
	padding: 0;
	color: #000;
	background: url("head.jpg") repeat;
	text-align: center;
	font-family: "trebuchet MS", verdana, sans-serif;
	font-size: 1em;
	line-height: 120%;
}

div.wrapper
{
	width: 980px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background: transparent;
}

/*--------------------------------------------- BANNER FORMATTING --------------------------------------------- */

div.header
{
	background: #1B1B26 url(portfoliohead.jpg) no-repeat center;
	height: 250px; 
	float: left;
	width: 980px;
	color: #fff;
	margin: 0;
}

/*----------------------------------- NAVIGATION FORMATTING ----------------------------------- */

div.nav
{
	float: left;
	width: 980px;
	background: #0F343D;
	color: #fff;
	border-bottom: 1px ridge #0D3329;
}

ul#menu
{
	float: left;
	margin: 0 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 265px;
	background: #0F343D;
	color: #DEEBEF;
	line-height: 100%;
}

ul#menu li
{ 
	float: left;
	position: relative;
	list-style: none;
}

/*------------------------- TOP LEVEL LINK------------------------------ */

ul#menu a
{
	color: #DEEBEF;
	background: #115256;
	text-decoration: none;
	display: block;
	padding: 4px 25px;
	border: 1px outset #10797C;
}

/*---------------------- MAIN LEVEL LINK HOVER ------------------------ */

ul#menu a.current, ul#menu li:hover > a
{
	color: #081B23;
	background: #459E90;
}

/*--------------------------- DROPDOWN ------------------------------- */

ul#menu li:hover > ul
{
	display: block; 
	box-shadow: 5px 5px 10px #0D2028;
	filter: dropshadow(color=#0D2028, offx=1, offy=1);     
	background: #0F343D;
}

/*----------------------- SUB LEVEL LIST ----------------------------- */

ul#menu ul
{
	display: none;
	margin: 0;
	padding: 0;
	width: 190px;
	position: absolute;
	top: 27px;
	left: 0;
	background: #115256;
	border: 1px inset #10797C;
}

ul#menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
}

ul#menu ul a
{
	font-weight: normal;
	background: #115256;
	color: #DEEBEF;
}

ul#menu ul li a:hover
{
	color: #08323F;
	background: #188282;
}

/*---------------------------------------- GENERAL LINK FORMATTING ---------------------------------------------- */

a:link
{
	color: #889193;
	background: transparent;
	
}

a:visited
{
	color: #D6FFE7;
	background: transparent;
}

a:hover
{
	color: #0484A0;
	background: transparent;
	text-decoration: none;
}

a:active
{
	color: #D6FFE7;
	background: transparent;
}

/*---------------------------------------------- SECTION FORMATTING ---------------------------------------------- */

div.section
{ 
	float: right;
	width: 980px;
	background: #f4f4f4;
	padding: 10px;
}

div.section h1
{
	text-align: center;
	font-style: italic;
	color: #092B35;
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);  
	font-family: georgia, "Book Antiqua", serif;
	font-size: 2.2em;
	padding: 10px 50px 0 50px;
	line-height: 120%;
}

div.section h2
{
	text-align: center;
	font-style: normal;
	color: #052F35;
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);  
	font-family: georgia, "Book Antiqua", serif;
	font-size: 1.3em;
	padding: 5px 60px;
	line-height: 120%;
}

div.section p
{
	color: #110B16;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.1em;
	padding: 0 30px;
	line-height: 120%;
	opacity: 100%;
}


/*---------------------------------------------- FOOTER FORMATTING ---------------------------------------------- */

div.footer 
{
	clear: both;
	background: #0F343D;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	font-family: georgia, "Book Antiqua", serif;
	font-size: .9em;
}
