/* body style */

body
{
   font-family: "Segoe UI", Arial, sans-serif;
   font-size: 1em;
   color: #000;
   background: #C4C3C2;
   margin: 50px;
}

/* classes */

.emphasis
{
   font-family: Georgia, "Times New Roman", Times, serif;
   color: #083849;
   font-size: 1em;
   font-weight: bold;
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}

.contents
{
   font-family: "Segoe UI", Arial, sans-serif;
   color: #083849;
   font-size: 1em;
   text-align: center;
   margin-top: 1px;
   margin-bottom: 10px;
   margin: 0 auto;
}

.important
{
   font-family: Georgia, "Times New Roman", Times, serif;
   color: #083849;
   font-size: 1em;
   font-weight: bold;
}

.box 
{ 
   color: #083849;
   background: #C4C3C2; 
   width: 1000px; 
   padding: 1px;
   border-color: #3A211A; 
   border-style: inset; 
   border-width: 1px;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 40px;
   text-align: center;
} 

/* link styles */

a.nav:link  
{ 
   color: #083849;
} 
a.nav:visited  
{ 
   color: #3A211A;  
} 
a.nav:hover  
{ 
   color: #137799;  
} 
a.body:link  
{ 
   color: #3A211A;  
} 
a.body:visited  
{ 
   color: #083849;  
} 
a.body:hover  
{ 
   color: #137799; 
}  

/* headings */

h1
{
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 48px;
   color: #00a99d;
   background: #402a23;
   width: 1000px;
   margin: 0 auto;
   font-style: italic;
   padding-top: 12px;
   padding-bottom: 4px;
   text-align: center;
}

h2
{
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 48px;
   color: #00a99d;
   background: #402a23;
   width: 1000px;
   margin: 0 auto;
   font-style: italic;
   padding-top: 12px;
   padding-bottom: 44px;
   text-align: center;
}

h3
{
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 1.5em;
   color: #000;
   background: #C4C3C2;
   font-style: italic;
}

h4
{
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 24px;
   color: #c7ad89;
   background: #402a23;
   width: 1000px;
   margin: 0 auto;
   margin-bottom: 25px;
   font-style: italic;
   padding-top: 4px;
   padding-bottom: 12px;
   text-align: center;
}

h5
{
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 1.2em;
   color: #3A211A;
   background: #C4C3C2;
   margin-top: 1px;
   text-align: center;
}

h6
{
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: .9em;
   color: #3A211A;
   background: #C4C3C2;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

/* footer */

#footer
{
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: .8em;
   color: #3A211A;
   background: #C4C3C2;
   font-weight: bold;
   text-align: center;
   margin-top: 20px;
}

/* bullets and breaks */

hr
{
   color: #c7ad89;
   background-color: #C4C3C2;
   height: .2px;
   width: 80%;
   margin-top: 20px;
   margin-bottom: 20px;
}

li
{
   margin-bottom: .5em;
}

ol
{
   list-style-type: decimal;
}

ul
{
   list-style-type: disc;
} 
